body{
    background: #2194c0;
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    font-family: 'Fira Sans', sans-serif;
    color: white;
}

div{
    width: 50%;
    margin: 50px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    margin: 10px 0;
}

.circulo{
    margin: 10px;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background-image: url(../assets/img/50af7757-ad6e-4278-b851-ca8e36085441.jpg);
    background-size: cover;
}

@keyframes rotate {from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}}
@-webkit-keyframes rotate {from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}}
.icono{
    -webkit-animation: 3s rotate linear infinite;
    animation: 3s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}