body{
    background: #2194c0;
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    font-family: 'Fira Sans', sans-serif;
    color: white;
}

div{
    width: 50%;
    margin: 50px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    margin: 20px 0;
}

.ideas-img{
    border-radius: 50%;
}

@keyframes rotate {from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}}
@-webkit-keyframes rotate {from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}}
.icono{
    -webkit-animation: 3s rotate linear infinite;
    animation: 3s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}